*{
	padding: 0;
	margin: 0;
}
header {
	background: #fff;
}
.logo{
	float: left;
	/*margin-right: 300px;*/
}
.logo img {
	width: 120px;
}
.container{
	width: 1200px;
	margin:0 auto;
}
header nav ul {
	float: right;
}
header nav ul li {
	display: inline-block;

}
span{
	display: 	none;	
}
header nav ul li a{
	text-decoration: none;
	padding: 10px 20px;
	line-height: 60px;
	color: #000;
}
.current{
	color: green;
}
section {
}
section  img{
	width: 100%;
	height:550px
}
section .showcase{
	position: absolute;
	top: 50%;
	left: 20%;

}

.showcase h2 {
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.showcase h1 {
	color: #fff;
	text-align: center;
	font-size: 50px;
	font-family: sans-serif;
}
.arti-1{
	width: 100%;
	height: 600px;
	background-image:url('photos/a (30).jpg');
	background-size: cover;
	background-position: center;
}.arti-1 h6{
text-align: center;
	padding-top: 50px;
	color: #fff;
	font-size: 18px;


}
.arti-1 h2 {
	font-family: sans-serif;
	font-size: 35px;
	text-align: center;
	color: #fff;
	padding-bottom: 30px;
}
.arti-1 h3 {
	text-align: center;
	color: #fff;
	font-family:sans-serif;
	padding-top: 10px;
	font-size: 30px;
}
.arti-2{
	width: 270px;
	height: 300px;
	margin-left: 110px;
	float: left;
}
.arti-2 img {
	width: 270px;
	height: 170px;
	padding-top: 10px;
}
.arti-2 p {
	text-align: center;
	color: #fff;
}
.arti-2 h1 {
	text-align: center;
	padding-top: 30px;
	color: #fff;
}
.arti-2 hr {
	width: 70px;
	display: block;
	margin: 0 auto;
	color: red;
}
.arti-3{
	width: 270px;
	height: 300px;
	margin-left: 70px;
	float: left;
}
.arti-3 img {
	width: 270px;
	height: 170px;
	padding-top: 10px;
}
.arti-3 p {
	text-align: center;
	color: #fff;
}
.arti-3 h1 {
	text-align: center;
	padding-top: 30px;
	color: #fff;
}
.arti-3 hr {
	width: 70px;
	display: block;
	margin: 0 auto;
	color: red;
}
.arti-4{
	width: 270px;
	height: 300px;
	margin-left: 70px;
	float: left;
}
.arti-4 img {
	width: 270px;
	height: 170px;
	padding-top: 10px;
}
.arti-4 p {
	text-align: center;
	color: #fff;
}
.arti-4 h1 {
	text-align: center;
	padding-top: 30px;
	color: #fff;
}
.arti-4 hr {
	width: 70px;
	display: block;
	margin: 0 auto;
	color: red;
}
.art-1{
	width: 100%;
	height: 500px;

}
.art-2 {
	width: 50%;
	float: left;
	height: 500px;
/*	background-color: #eee;*/
}
.art-2 p {
	padding: 20px 60px 20px 60px;
}
.art-2 h3 {
	padding: 60px 60px 0px 60px;
}
.art-2 h2 {
	padding: 0px 60px 0px 60px;
	color: green;
}
.art-3 {
	width: 50%;
	float: right;
	height: 500px;
}
.art-3 img {
	width: 100%;
	height: 500px;
}
.art-5 {
	width: 50%;
	height: 500px;
/*	background-color: #eee;*/
float: right;
}
.art-5 p {
	padding: 10px 60px 20px 60px;
}
.art-5 h3 {
	padding: 0px 0px 0px 60px;
}
.art-5 h2 {
	padding: 0px 60px 20px 60px;
	color: green;
}
.art-5 h1 {
	font-size: 1em;
	padding-top: 30px;
	padding-left: 60px;
	padding-bottom: 10px;
}
.art-4 {
	width: 50%;
	height: 500px;
	float: left;
}
.art-4 img {
	width: 100%;
	height: 500px;
}

/*modernsliderstartfromhere*/
.main-banner {
	margin: 0 auto;
	width: 100%;
	height: 600px;
	background-image: url('photos/a (24).jpg');
	background-position:center;
	background-size: cover;
	overflow: hidden;
	position: relative;
}
.main-banner .imgbtn{
	width: 100%
	height: 100%;
	position: absolute;
	top: 0%;
	transition: all ease-in-out 500ms;
	-webkit-transition:all ease-in-out 500ms;
	-moz-transition:all ease-in-out 500ms;
}
.main-banner #imgbtn1{
	background-image: url('photos/a (7).jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.main-banner #imgbtn2{
	background-image: url('photos/a (14).jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.main-banner #imgbtn3{
	background-image: url('photos/a (19).jpg'); 
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}	
}
.imgbanbtn {
	width: 40px;
	height: 40px;
	background-color: #000;
	border-radius: 5px;
	position: absolute;
	top: 180px;
	z-index: 2000;
	opacity: 0.8;
	cursor: pointer;	
}
.imgbanbtn :hover {
	opacity: 0.9;
}

.imgbanbtn-prev{
	left: 5px;
	background-image: url('img/prev.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
}
.imgbanbtn-next{
	right: 5px;
	background-image: url('img/next.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: center;
}
/*end of slider*/


.make{
	width: 100%;
	height: 500px;
	background-image: url('photos/a (42).jpg');
	background-size: cover;
	background-position: center;
}
.make-1 {
	width: 100%;
}
.make-1 h1 {
	font-family: sans-serif;
	padding-top: 90px;
	text-align: center;
	color: #fff;
	font-size: 45px;
}
.make-1 p {
	color: #fff;
	text-align: center;
	padding-top: 20px;
}
.make-1 h3 {
	color: #fff;
	text-align: center;
	padding-top: 30px;
}
hr {
	color: red;
	display: block;
	margin: 0 auto;
	margin-top: 10px; 
	width: 100px;
}
.make-1  h4 {
	color: #fff;
	text-align: center;
	padding-top: 60px;

}
.make-1 h2 {
	text-align: center;
	color: yellow;
}
footer {
	height: 50px;
	background-color: #000;
}
footer .foot-1{
	float: left;
}
footer .foot-1 h3{
	color: #fff;
	padding-left: 50px;
	padding-top: 15px;
}
footer .foot-2 {
	float: right;
	padding-right: 50px;
}
footer .foot-2 i {
	font-size: 10px;
	color: #fff;
	padding: 25px 8px 0px 8px;
}

/*ABOUT*/
.section {
	padding-top: 60px;
}
.some{
	width: 100%;
	height: 320px;
	background-image: url('photos/a (20).jpg');
}
.some h1 {
	color: #fff;
	position: absolute;
	top: 50%;
	left: 10%;
	font-family: sans-serif;
	font-size: 40px;

}
.some1{
	width: 100%;
	height: 350px;
}
.some1 h2 {
	padding: 40px 0px 20px 60px;
	color: green;
}
.some1 p {
	padding: 0px 0px 20px 60px;
}
.jzy1 {
	width: 49%;
	float: left;
	height: 550px;
	/*background-color: #eee;*/
	padding-right: 2%;
}
.jzy1 img {
	width: 100%;
	height: 250px;
}
.jzy1 p {
	padding: 20px 60px 20px 60px;
}
.jzy1 h1 {
	padding: 20px 0px 0px 60px;
}

.jzy2 {
	width:49%;
	float: left;
	height: 550px;
	/*background-color: #eee;*/
}
.jzy2 img {
	width: 100%;
	height: 250px;
	padding-bottom: 20px;
}
.jzy2 p {
	padding: 20px 60px 20px 60px;
}
.jzy2 h3 {
	padding: 0px 0px 0px 60px;
	color: green;
}
 .chotuu{
	width: 1200px;
	margin:0 auto;
	height: 400px;
	background-image: url('photos/a (33).jpg');
	background-position: center;
	background-size: cover;
	background-attachment: scroll	;
	background-repeat: 	no-repeat;	
	margin-top: 580px;
}
.chotu1{
	width: 150px;
	float: left;
	height: 200px;
	margin-left: 120px;
	margin-top:150px;
	/*background-color: #EEE;*/
}
.chotu1 h1{
	text-align: center;
	font-size: 60px;
	color: green;
	font-family: sans-serif;
}
.chotu1 h4 {
 color: #fff;
 text-align: center;
}

.chotu2{
	width: 150px;
	float: left;
	height: 200px;
	margin-left:85px;
	margin-top:150px;
	margin-top:150px;
	/*background-color: #EEE;*/
}
.chotu2 h1{
	text-align: center;
	font-size: 60px;
	color: green;
	font-family: sans-serif;
}
.chotu2 h4 {
 color: #fff;
 text-align: center;
}

.chotu3{
	width: 150px;
	float: left;
	height: 200px;
	margin-left: 85px;
	margin-top:150px;
	margin-top:150px;
	/*background-color: #EEE;*/
}
.chotu3 h1{
	text-align: center;
	font-size: 60px;
	color: green;
	font-family: sans-serif;
}
.chotu3 h4 {
 color: #fff;
 text-align: center;
}

.chotu4{
	width: 150px;
	float: left;
	height: 200px;
	margin-right:50px;
	margin-top:150px;
	margin-left: 85px;
	/*background-color: #EEE;*/

}
.chotu4 h1{
	text-align: center;
	font-size: 60px;
	color: green;
	font-family: sans-serif;
}
.chotu4 h4 {
 color: #fff;
 text-align: center;
}
@media (max-width:768px){
	header {
		display: none;	
	}
	.content img{
		position: absolute;
		width: 100%;
		display: block;
		height: 500px;
	}
  .content .showcase{
	position: absolute;
	top: 30%;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	}
	.showcase h2{
		text-align: center;
		font-size: 17px;
		padding: 0;
	}
	.showcase h1{
		text-align: center;
		font-size: 20px;
		padding: 0;
	}
	.arti-1 {
		width: 100%;
		float: left;
		height: 100em;
		display: block;
		position: absolute;
		top: 40%;
	}
	.arti-1 h2 {
		font-size: 16px;
	}
	.arti-2{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
	}
	.arti-2 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 230px;
	}
	.arti-2 p {
		text-align: center;
		width: 300px;
		display: block;
		margin: 0 auto;
	}
	.arti-2 h1 {
		padding-top: 20px;
		text-align: center;
	}
	.arti-2 hr {
		margin-top: 10px;
	}

	.arti-3{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
		margin-top: 170PX;
	}
	.arti-3 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 300px;
	}
	.arti-3 p {
		text-align: center;
		width:300px;
		display: block;
		margin: 0 auto;
	}
	.arti-3 h1 {
		padding-top: 20px;
		text-align: center;
	}
	.art-2 {
		width:50%;
		float: left;
		margin-top:2000PX;
	}
	.art-3{
		width: 100%;
		float: left;
		position: absolute;
		top: 2500px;
	}
	.art-3  img{
		width: 100%;
		float: left;
	}
	.art-5{
		width:100%;
		float: left;
		margin-top:500PX;
		position: absolute;
		top: 2500px;

	}

	.art-4{
		width: 100%;
		float: left;
		position: absolute;
		top: 3500px;
	}
	.art-4  img{
		width: 100%;
		float: left;
	}
	


	.arti-4{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
		margin-top: 200PX;
	}
	.arti-4 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 230px;
	}
	.arti-4 p {
		text-align: center;
		width:300px;
		display: block;
		margin: 0 auto;
	}
	.arti-4 h1 {
		padding-top: 20px;
		text-align: center;
	}

	.main-banner {
		width: 100%;
		float: left;
		height: 400px;
		position: absolute;
		top: 2500px;
		margin-top: 1500px;
	}
	.make{
		width: 100%;
		position: absolute;
		top: 4400px;
	}
	footer{
		position: absolute;
		top: 4850px;
	}

	/*about*/

	.some {
		width: 100%;
		height: 	250px;
		position: absolute;
		top: 0px;
	}
	.some1 {
		width: 	100%;
		position: absolute;	
		top:250px;
		height: 800px;
		background:#eee; 	
	}
	.some1 h1 {
		text-align: 	center;	
	}
	.some1 p {
		padding: 	20px 10px 20px 10px;
		font-size: 	16px;
	}
	.jzy1 {
		width: 	100%;
		height: 	620px;
		position: 	absolute;	
		background: 	#EEE;
		top: 	700px;
		/*margin-top: 	1700px;*/
	}
	.jzy1 p {
		padding: 	20px 10px 2px 10px;
	}
	.jzy2{
		width: 	100%;
		position: 	absolute;	
		top: 1320px;
		background: 	#eee;
		height: 800px;	
	}
	.jzy2 p {
		padding: 20px 10px 20px 10px;
		
	}
	.jzy2 h3 {
		font-size: 	16px;
		padding: 	20px 20px 0px 20px;
		text-align: 	center;	
	}


	.chotuu {
		width: 	100%;
		height: 	800px;
		position: 	absolute;	
		top: 1300px;
	}
	.chotu1{
		width: 	50%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		margin-top: 180px;
	}

	.chotu2{
		width: 	50%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		margin-top: 180px;
	}

	.chotu3{
		width: 	50%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		margin-top: 180px;
	}

	.chotu4{
		width: 	50%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		margin-top: 180px;
	}
	.footer {
		width: 	100%;
		position: 	absolute;	
		top: 	2630px;
	}

}

@media (max-width:500px){
	header {
		display: none;	
	}
	span {
		display: inline-block;	
	}
	.content img{
		position: absolute;
		width: 100%;
		display: block;
		height: 400px;
	}
  .content .showcase{
	position: absolute;
	top: 30%;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
	}
	.showcase h2{
		text-align: center;
		font-size: 17px;
		padding: 0;
	}
	.showcase h1{
		text-align: center;
		font-size: 20px;
		padding: 0;
	}
	.arti-1 {
		width: 100%;
		float: left;
		height: 100em;
		display: block;
		position: absolute;
		margin-top: 60px;
		top: 40%;
	}
	.arti-1 h2 {
		font-size: 16px;
	}
	.arti-2{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
	}
	.arti-2 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 230px;
	}
	.arti-2 p {
		text-align: center;
		width: 300px;
		display: block;
		margin: 0 auto;
	}
	.arti-2 h1 {
		padding-top: 20px;
		text-align: center;
	}
	.arti-2 hr {
		margin-top: 10px;
	}

	.arti-3{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
		margin-top: 170PX;
	}
	.arti-3 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 300px;
	}
	.arti-3 p {
		text-align: center;
		width:300px;
		display: block;
		margin: 0 auto;
	}
	.arti-3 h1 {
		padding-top: 20px;
		text-align: center;
	}
	.art-2 {
		width:30%;
		float: left;
		margin-top:1900PX;
	}
	.art-2 p {
		font-size:14px;
	}
	.art-3{
		width: 100%;
		float: left;
		position: absolute;
		top: 2500px;
	}
	.art-3  img{
		width: 100%;
		height: 300px;
		float: left;
	}
	.art-5{
		width:100%;
		float: left;
		margin-top:500PX;
		position: absolute;
		top: 2300px;
	}
	.art-5 p {
		font-size: 10px;
	}
	.art-5 h2 {
		font-size: 20px;
	}

	.art-4{
		width: 100%;
		float: left;
		position: absolute;
		top: 3300px;
	}
	.art-4  img{
		width: 100%;
		height: 300px;
		float: left;
	}
	
	.arti-4{
		width: 100%;
		float: left;
		display: block;
		margin:0 auto;
		margin-top: 200PX;
	}
	.arti-4 img {
		display: block;
		margin: 0 auto;
		width: 320px;
		height: 230px;
	}
	.arti-4 p {
		text-align: center;
		width:300px;
		display: block;
		margin: 0 auto;
	}
	.arti-4 h1 {
		padding-top: 20px;
		text-align: center;
	}

	.main-banner {
		width: 100%;
		float: left;
		height: 300px;
		position: absolute;
		top: 2100px;
		margin-top: 1500px;
	}
	.make{
		width: 100%;
		position: absolute;
		top: 3800px;
		height: 400px;
	}
	.make h1 {
		text-align: center;
		font-size: 25px;
		padding: 20px 30px 0px 30px;
	}
	.make p {
		padding: 0px 20px 0px 20px;
	}
	footer {
		margin-top: 4000px;
		width: 100%;
		position: absolute;
		top: 4150px;
	}

	/*about*/

	.some {
		width: 100%;
		height: 	250px;
		position: absolute;
		top: 0px;
	}
	.some1 {
		width: 	100%;
		position: absolute;	
		top:250px;
		height: 800px;
		background:#eee; 	
	}
	.some1 h1 {
		text-align: 	center;	
	}
	.some1 p {
		padding: 	20px 10px 20px 10px;
		font-size: 	16px;
	}
	.jzy1 {
		width: 	100%;
		height: 750px;
		position: 	absolute;	
		background: 	#EEE;
		top: 	750px;
		/*margin-top: 	1700px;*/
	}
	.jzy1 h1 {
		
		margin: 	0 auto;
	}
	.jzy1 p {
		padding: 	20px 10px 2px 10px;
	}
	.jzy2{
		width: 	100%;
		position: 	absolute;	
		top: 1500px;
		background: 	#eee;
		height: 800px;	
	}
	.jzy2 p {
		padding: 20px 10px 20px 10px;
		
	}
	.jzy2 h3 {
		font-size: 	16px;
		padding: 	20px 20px 0px 20px;
		text-align: 	center;	
	}


	.chotuu {
		width: 	100%;
		height: 	800px;
		position: 	absolute;	
		top: 1600px;
	}
	.chotu1{
		width: 	100%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		/*margin-top: 30px;*/
	}

	.chotu2{
		width: 	100%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		/*margin-top: 30px;*/
	}

	.chotu3{
		width: 	100%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		/*margin-top: 30px;*/
	}

	.chotu4{
		width: 	100%;
		display: 	block;	
		margin: 	0 auto;
		float: 	left;	
		margin-top: 0px;
	}
	.footer {
		width: 	100%;
		position: 	absolute;	
		top: 	2930px;
	}

}